.Counter {
  text-align: center;
  font-size: 5rem;
}

.Counter button {
  font-size: 5rem;
  margin: 20px;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

.Counter span {
  font-family: 'Segoe UI Emoji';
  font-size: 4.52rem;
}